@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #4B9CD3;
    --secondary-color: #FFD700;
    --text-color: #333;
    --background-color: #f0f0f0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background: linear-gradient(to bottom, #e6f2ff, #fff9e6);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: var(--primary-color);
    font-size: 2.5em;
    margin-bottom: 0;
    align-items: center;
}

.subtitle {
    color: var(--text-color);
    font-style: italic;
}

.portrait {
    text-align: center;
    margin-bottom: 20px;
}

.portrait img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--secondary-color);
}

.intro {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 30px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

#quiz-container {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    margin: 5px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #e0e0e0;
}

.option.selected {
    background-color: var(--primary-color);
    color: white;
}

#submit-quiz {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-quiz:hover {
    background-color: #3a7ca5;
}

#quiz-results {
    margin-top: 20px;
    font-weight: bold;
}

footer {
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.action-button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #e6c200;
}

.tyr {
    background-color: #2b4a99;
    /* темно-синій колір */
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    height: 50px;
    font-size: 19px;
}